In [44]:
import pandas as pd

In [60]:
epm = pd.read_csv("EPM.csv", names=['session',
               'student_Id',
               'exercise',
               'activity',
               'start_time',
               'end_time',
               'idle_time',
               'mouse_wheel',
               'mouse_wheel_click',
               'mouse_click_left',
               'mouse_click_right',
               'mouse_movement',
               'keystroke'], dtype='unicode')#'unicode' will help get through the low_memory warning

In [61]:
epm.describe()

,session,student_Id,exercise,activity,start_time,end_time,idle_time,mouse_wheel,mouse_wheel_click,mouse_click_left,mouse_click_right,mouse_movement,keystroke
count,230319,230318,230318,230318,230318,230318,230318,230318,230318,230318,230318,230318,230318
unique,7,115,30,99,60316,60323,54834,464,17,395,75,6244,814
top,6,74,Es_4_5,Other,13.11.2014 11:58:3,13.11.2014 11:33:27,0,0,0,2,0,0,0
freq,53170,4061,22351,33602,18,17,83378,208858,229942,91739,217321,14742,196612

In [80]:
epm.dtypes

session                    category
student_Id                 category
exercise                   category
activity                   category
start_time           datetime64[ns]
end_time             datetime64[ns]
idle_time                    object
mouse_wheel                  object
mouse_wheel_click             int32
mouse_click_left              int32
mouse_click_right             int32
mouse_movement                int32
keystroke                     int32
dtype: object

In [63]:
epm.head()

,session,student_Id,exercise,activity,start_time,end_time,idle_time,mouse_wheel,mouse_wheel_click,mouse_click_left,mouse_click_right,mouse_movement,keystroke
0,1,1,Es,Other,2.10.2014 11:25:33,2.10.2014 11:25:34,0,0,0,0,0,84,0
1,1,1,Es,Aulaweb,2.10.2014 11:25:35,2.10.2014 11:25:42,218,0,0,4,0,397,0
2,1,1,Es,Blank,2.10.2014 11:25:43,2.10.2014 11:25:43,0,0,0,0,0,59,0
3,1,1,Es,Deeds,2.10.2014 11:25:44,2.10.2014 11:26:17,154117,6,0,8,0,1581,4
4,1,1,Es,Other,2.10.2014 11:26:18,2.10.2014 11:26:18,0,0,0,2,0,103,0

### converting object types for dates into date format

In [64]:
epm['start_time'] = pd.to_datetime(epm.start_time)
epm['end_time'] =pd.to_datetime(epm.end_time)

### converting actual numeric features to numeric

In [76]:
epm['mouse_click_left'] = epm.mouse_click_left.fillna(0).astype(int)
epm['mouse_click_right'] = epm.mouse_click_right.fillna(0).astype(int)
epm['mouse_wheel_click'] = epm.mouse_wheel_click.fillna(0).astype(int)
epm['mouse_movement'] = epm.mouse_movement.fillna(0).astype(int)
epm['keystroke'] = epm.keystroke.fillna(0).astype(int)

### converting required columns to factors

In [79]:
epm['session'] = epm['session'].astype('category')
epm['student_Id'] = epm['student_Id'].astype('category')
epm['activity'] = epm['activity'].astype('category')
epm['exercise'] = epm['exercise'].astype('category')